django==1.11
djangorestframework==3.6.3
gunicorn==19.6.0
psycopg2==2.6.2
requests==2.11.1
django-storages==1.6.3
boto==2.48.0
django-markdown2==0.3.0
pubnub
markdown2
docker
python-dateutil
raven

kong_oauth==0.1
school_pubsub==0.3
keen

django-filter==1.1.0
django-anymail
pytz

raven
newrelic

responses
coverage
faker
ipdb
ipython
codacy-coverage
