{% extends 'invoice/base/index.html' %}

{% block main_content %}
<div>
<select
 onchange='
    document.getElementById("viewframe").src = this.options[this.selectedIndex].value;
    document.getElementById("link").href = this.options[this.selectedIndex].value.replace("/invoice/","/invoice/view/");
    ' >
{% for invoice in invoices %}
    <option value='/invoice/{{invoice.pk}}/?key={{invoice.password}}' >
    [{{invoice.practitioner_id}}] {{invoice}} [{{invoice.status}}]
    </option>
{% endfor %}
    </select>
<a id="link" href='' >View</a>
</div>
<iframe id='viewframe' src=''
    width='100%' height='800px' >
</iframe>
<script>

</script>
{% endblock %}