{% extends 'invoice/base/index.html' %}
{% block header_links %}
<nav class="mdl-navigation">
    <a id="tt3" class="mdl-navigation__link" href="/invoice/view/{{invoice.pk}}?key={{invoice.password}}" >
        Show invoice</a>
</nav>
{% endblock %}

{% block main_content %}
<section class='ag-ma' >
    <h3>
        Payment options
        <div style='float:right;'>Amount Due: {{invoice.currency}} {{amount_due}}</div>
    </h3>

    {% if settings.show_snapcode_on_invoice %}
        <h6>Pay with SnapScan:</h6>
        <!-- need to replace .00 with 00 -->
        <a href="https://pos.snapscan.io/qr/{{settings.snap_id}}{{snap_params}}&strict=true">
            <img src="https://pos.snapscan.io/qr/{{settings.snap_id}}.svg{{snap_params}}&snap_code_size=70&strict=true">
        </a>
        <div>
            Scan or click this code to pay with SnapScan
        </div>
    {% endif %}


    {% if invoice.context.banking_details %}
        <h6>Pay by EFT:</h6>
        <strong>Banking details: </strong>{{invoice.context.banking_details|linebreaks}}
    {% endif %}
    <h6>Upload proof of payment</h6>
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
</section>
{% endblock %}
