{% extends 'invoice/base/index.html' %}
{% load humanize %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block css %}
.page-content {
    width:100%;
}
.page-main {
    margin-top: -31vh;
}
{% endblock %}
{% block main_content %}
<section class='ag-ma mdl-grid' style='margin-top:0px;padding-top:0px;' >

    <!-- headline-->
    <div class="mdl-cell mdl-cell--6-col">
        <h6>Payable to</h6>
Christo Crampton<br/>
64 2nd ave, Parkhurst
<!-- {{settings.billing_address|linebreaks}} -->
        <!-- <img src="https://media-appointmentguru.s3.amazonaws.com:443/practitioner/images/1/logo.png" style="max-width:300px; max-height:150px;"> -->
    </div>
    <div class="mdl-cell mdl-cell--6-col" style='text-align: right;' >
        <h6>Statement</h6>
<strong>Date:</strong> {{statement_date|date}} - {{statement_due_date|date}}
    </div>

    <!-- meta-->
    <div class="mdl-cell mdl-cell--6-col">
        <h6 class='ag-mt-0' >Bill to:</h6>
Vumatel (Pty) Ltd<br/>
VAT reg: 4020266740<br/>
PO Box 1811<br/>
Parklands<br/>
2121

        <!-- {{invoice.invoicee_details|linebreaks}} -->
    </div>
    <div class="mdl-cell mdl-cell--6-col" >
        <table class="mdl-data-table mdl-block dense" style='float:right;' >
        <thead  >
            <tr class='mdl-color--grey-100 mdl-color-text--grey-800' >
            <th colspan="2" class="mdl-data-table__cell--non-numeric">Account summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Previous balance</td>
                <td>R{{balance.outstanding|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Total charged</td>
                <td>R{{balance.due|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Payments</td>
                <td>R{{balance.paid|floatformat:2|intcomma}}</td>
            </tr>
            <tr>
                <td class="mdl-data-table__cell--non-numeric callout">Amount due</td>
                <td>R{{balance.diff|floatformat:2|intcomma}}</td>
            </tr>
        </tbody>
        </table>
    </div>

    <!-- lineitems-->
    <div class="mdl-cell mdl-cell--12-col">
        <h6>Account summary</h6>
        <table class="mdl-data-table mdl-block dense" style='width:100%;' >
        <thead>
            <tr class='mdl-color--grey-100 mdl-color-text--grey-800' >
                <th class="mdl-data-table__cell--non-numeric">Date</th>
                <th class="mdl-data-table__cell--non-numeric">Invoice #</th>
                <th class="mdl-data-table__cell--non-numeric">Description</th>
                <th >Charges</th>
                <th >Credits</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            {% if transaction.type == "Invoice" %}
            <tr class='invoice' >
                <td class="mdl-data-table__cell--non-numeric">{{transaction.date|date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{transaction.invoice.invoice_number}}</td>
                <td class="mdl-data-table__cell--non-numeric">Invoiced</td>
                <td>R{{transaction.amount|floatformat:2|intcomma}}</td>
                <td >--</td>
            </tr>
            {% else %}
            <tr class='payment'>
                <td class="mdl-data-table__cell--non-numeric">{{transaction.date|date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{transaction.invoice.invoice_number}}</td>
                <td class="mdl-data-table__cell--non-numeric">Payment, Thank-you</td>
                <td>--</td>
                <td>R{{transaction.amount|floatformat:2|intcomma}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--12-col" style='margin-top:10px;' >
        <table class="mdl-data-table mdl-block dense" style='width:100%;' >
            <thead>
                <tr class='mdl-color--grey-100 mdl-color-text--grey-800' >
                    <th class="mdl-data-table__cell--non-numeric">Current account balance</th>
                    <td class='callout' >R{{balance.diff|floatformat:2|intcomma}}</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="mdl-cell mdl-cell--12-col" >
        <h6>Banking details:</h6>
        Christopher Crampton.<br/>
        FNB.<br/>
        Account number: 60232195566
        {{practitioner.banking_details|linebreaks}}
    </div>

{% comment %}
    Balance bought forward: {{balance}}

    <h3>Invoices:</h3>
    {% for invoice in invoices %}
    {{invoice.invoice_amount}}<br/>
    {% endfor %}

    <h3>Payments:</h3>
    {% for payment in payments %}
    {{payment.amount}}<br/>
    {% endfor %}
{% endcomment %}
</section>
{% endblock %}

